body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 550px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
      h1 {
        margin: 0;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
        text-align: center;
         }
      p {
        text-align: center;
        margin: 10px;
      }
      .post {
        margin-left: 100px;
        outline: none;
        border-radius: 7px;
        width: 228px;
        height: 45px;
        font-size: 19px;
        padding-left: 19px;
        border: none;
        transition: 0.2s ease;
      }
      .post:focus, textarea:focus {
        outline: none;
        border-radius: 7px;
        width: 228px;
        height: 45px;
        font-size: 19px;
        padding-left: 19px;
        box-shadow: 0 0 5px #F3DB5F;
        border: 1px solid #F3DB5F;
      }
      .btn {
        width: 60px;
        height: 45px;
        background: #333;
        float: right;
        margin-right: 115px;
        border-radius: 7px;
        transition:  0.2s ease;
       }
       .btn:hover {
        box-shadow: inset 0 -3px 0 #B1B1B1;
       }
}       


.here {
  margin-bottom: 50px;
}

h2 {
  display: inline-block;
  width: 400px;
  letter-spacing: 1px;
}

